<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cttic.sysframe.frame.dao.SmOperateLogMapper">
	<resultMap id="BaseResultMap" type="cn.cttic.sysframe.frame.domain.SmOperateLog">
		<id column="LOG_ID" property="logId" jdbcType="DECIMAL" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="OPER_CODE" property="operCode" jdbcType="VARCHAR" />
		<result column="STAFF_ID" property="staffId" jdbcType="VARCHAR" />
		<result column="OPERATE_OBJECT" property="operateObject"
			jdbcType="VARCHAR" />
		<result column="OPERATE_TYPE" property="operateType" jdbcType="VARCHAR" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" />
		<result column="OPERATE_DATE" property="operateDate" jdbcType="TIMESTAMP" />
		<result column="APP_ID" property="appId" jdbcType="VARCHAR" />
		<result column="LOG_NAME" property="logName" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs"
		type="cn.cttic.sysframe.frame.domain.SmOperateLogWithBLOBs" extends="BaseResultMap">
		<result column="OLD_OBJECT" property="oldObject" jdbcType="CLOB" />
		<result column="NEW_OBJECT" property="newObject" jdbcType="CLOB" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		LOG_ID, OPER_ID, OPER_CODE, STAFF_ID, OPERATE_OBJECT, OPERATE_TYPE, NOTE,
		OPERATE_DATE,
		APP_ID, LOG_NAME
	</sql>
	<sql id="Blob_Column_List">
		OLD_OBJECT, NEW_OBJECT
	</sql>
	<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from SM_OPERATE_LOG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from SM_OPERATE_LOG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from SM_OPERATE_LOG
		where LOG_ID = #{logId,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from SM_OPERATE_LOG
		where LOG_ID = #{logId,jdbcType=DECIMAL}
	</delete>
	<delete id="deleteByExample" parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogExample">
		delete from SM_OPERATE_LOG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogWithBLOBs">
		insert into SM_OPERATE_LOG (LOG_ID, OPER_ID, OPER_CODE,
		STAFF_ID, OPERATE_OBJECT, OPERATE_TYPE,
		NOTE, OPERATE_DATE, APP_ID,
		LOG_NAME, OLD_OBJECT, NEW_OBJECT
		)
		values (#{logId,jdbcType=DECIMAL}, #{operId,jdbcType=VARCHAR},
		#{operCode,jdbcType=VARCHAR},
		#{staffId,jdbcType=VARCHAR}, #{operateObject,jdbcType=VARCHAR}, #{operateType,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}, #{operateDate,jdbcType=TIMESTAMP},
		#{appId,jdbcType=VARCHAR},
		#{logName,jdbcType=VARCHAR}, #{oldObject,jdbcType=CLOB}, #{newObject,jdbcType=CLOB}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogWithBLOBs">
		insert into SM_OPERATE_LOG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="logId != null">
				LOG_ID,
			</if>
			<if test="operId != null">
				OPER_ID,
			</if>
			<if test="operCode != null">
				OPER_CODE,
			</if>
			<if test="staffId != null">
				STAFF_ID,
			</if>
			<if test="operateObject != null">
				OPERATE_OBJECT,
			</if>
			<if test="operateType != null">
				OPERATE_TYPE,
			</if>
			<if test="note != null">
				NOTE,
			</if>
			<if test="operateDate != null">
				OPERATE_DATE,
			</if>
			<if test="appId != null">
				APP_ID,
			</if>
			<if test="logName != null">
				LOG_NAME,
			</if>
			<if test="oldObject != null">
				OLD_OBJECT,
			</if>
			<if test="newObject != null">
				NEW_OBJECT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="logId != null">
				#{logId,jdbcType=DECIMAL},
			</if>
			<if test="operId != null">
				#{operId,jdbcType=VARCHAR},
			</if>
			<if test="operCode != null">
				#{operCode,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				#{staffId,jdbcType=VARCHAR},
			</if>
			<if test="operateObject != null">
				#{operateObject,jdbcType=VARCHAR},
			</if>
			<if test="operateType != null">
				#{operateType,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="operateDate != null">
				#{operateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="logName != null">
				#{logName,jdbcType=VARCHAR},
			</if>
			<if test="oldObject != null">
				#{oldObject,jdbcType=CLOB},
			</if>
			<if test="newObject != null">
				#{newObject,jdbcType=CLOB},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogExample"
		resultType="java.lang.Integer">
		select count(*) from SM_OPERATE_LOG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update SM_OPERATE_LOG
		<set>
			<if test="record.logId != null">
				LOG_ID = #{record.logId,jdbcType=DECIMAL},
			</if>
			<if test="record.operId != null">
				OPER_ID = #{record.operId,jdbcType=VARCHAR},
			</if>
			<if test="record.operCode != null">
				OPER_CODE = #{record.operCode,jdbcType=VARCHAR},
			</if>
			<if test="record.staffId != null">
				STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
			</if>
			<if test="record.operateObject != null">
				OPERATE_OBJECT = #{record.operateObject,jdbcType=VARCHAR},
			</if>
			<if test="record.operateType != null">
				OPERATE_TYPE = #{record.operateType,jdbcType=VARCHAR},
			</if>
			<if test="record.note != null">
				NOTE = #{record.note,jdbcType=VARCHAR},
			</if>
			<if test="record.operateDate != null">
				OPERATE_DATE = #{record.operateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.appId != null">
				APP_ID = #{record.appId,jdbcType=VARCHAR},
			</if>
			<if test="record.logName != null">
				LOG_NAME = #{record.logName,jdbcType=VARCHAR},
			</if>
			<if test="record.oldObject != null">
				OLD_OBJECT = #{record.oldObject,jdbcType=CLOB},
			</if>
			<if test="record.newObject != null">
				NEW_OBJECT = #{record.newObject,jdbcType=CLOB},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update SM_OPERATE_LOG
		set LOG_ID = #{record.logId,jdbcType=DECIMAL},
		OPER_ID = #{record.operId,jdbcType=VARCHAR},
		OPER_CODE = #{record.operCode,jdbcType=VARCHAR},
		STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
		OPERATE_OBJECT = #{record.operateObject,jdbcType=VARCHAR},
		OPERATE_TYPE = #{record.operateType,jdbcType=VARCHAR},
		NOTE = #{record.note,jdbcType=VARCHAR},
		OPERATE_DATE = #{record.operateDate,jdbcType=TIMESTAMP},
		APP_ID = #{record.appId,jdbcType=VARCHAR},
		LOG_NAME = #{record.logName,jdbcType=VARCHAR},
		OLD_OBJECT = #{record.oldObject,jdbcType=CLOB},
		NEW_OBJECT = #{record.newObject,jdbcType=CLOB}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update SM_OPERATE_LOG
		set LOG_ID = #{record.logId,jdbcType=DECIMAL},
		OPER_ID = #{record.operId,jdbcType=VARCHAR},
		OPER_CODE = #{record.operCode,jdbcType=VARCHAR},
		STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
		OPERATE_OBJECT = #{record.operateObject,jdbcType=VARCHAR},
		OPERATE_TYPE = #{record.operateType,jdbcType=VARCHAR},
		NOTE = #{record.note,jdbcType=VARCHAR},
		OPERATE_DATE = #{record.operateDate,jdbcType=TIMESTAMP},
		APP_ID = #{record.appId,jdbcType=VARCHAR},
		LOG_NAME = #{record.logName,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogWithBLOBs">
		update SM_OPERATE_LOG
		<set>
			<if test="operId != null">
				OPER_ID = #{operId,jdbcType=VARCHAR},
			</if>
			<if test="operCode != null">
				OPER_CODE = #{operCode,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				STAFF_ID = #{staffId,jdbcType=VARCHAR},
			</if>
			<if test="operateObject != null">
				OPERATE_OBJECT = #{operateObject,jdbcType=VARCHAR},
			</if>
			<if test="operateType != null">
				OPERATE_TYPE = #{operateType,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				NOTE = #{note,jdbcType=VARCHAR},
			</if>
			<if test="operateDate != null">
				OPERATE_DATE = #{operateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="appId != null">
				APP_ID = #{appId,jdbcType=VARCHAR},
			</if>
			<if test="logName != null">
				LOG_NAME = #{logName,jdbcType=VARCHAR},
			</if>
			<if test="oldObject != null">
				OLD_OBJECT = #{oldObject,jdbcType=CLOB},
			</if>
			<if test="newObject != null">
				NEW_OBJECT = #{newObject,jdbcType=CLOB},
			</if>
		</set>
		where LOG_ID = #{logId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogWithBLOBs">
		update SM_OPERATE_LOG
		set OPER_ID = #{operId,jdbcType=VARCHAR},
		OPER_CODE = #{operCode,jdbcType=VARCHAR},
		STAFF_ID = #{staffId,jdbcType=VARCHAR},
		OPERATE_OBJECT = #{operateObject,jdbcType=VARCHAR},
		OPERATE_TYPE = #{operateType,jdbcType=VARCHAR},
		NOTE = #{note,jdbcType=VARCHAR},
		OPERATE_DATE = #{operateDate,jdbcType=TIMESTAMP},
		APP_ID = #{appId,jdbcType=VARCHAR},
		LOG_NAME = #{logName,jdbcType=VARCHAR},
		OLD_OBJECT = #{oldObject,jdbcType=CLOB},
		NEW_OBJECT = #{newObject,jdbcType=CLOB}
		where LOG_ID = #{logId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.cttic.sysframe.frame.domain.SmOperateLog">
		update SM_OPERATE_LOG
		set OPER_ID = #{operId,jdbcType=VARCHAR},
		OPER_CODE = #{operCode,jdbcType=VARCHAR},
		STAFF_ID = #{staffId,jdbcType=VARCHAR},
		OPERATE_OBJECT = #{operateObject,jdbcType=VARCHAR},
		OPERATE_TYPE = #{operateType,jdbcType=VARCHAR},
		NOTE = #{note,jdbcType=VARCHAR},
		OPERATE_DATE = #{operateDate,jdbcType=TIMESTAMP},
		APP_ID = #{appId,jdbcType=VARCHAR},
		LOG_NAME = #{logName,jdbcType=VARCHAR}
		where LOG_ID = #{logId,jdbcType=DECIMAL}
	</update>
	<!-- 自定义sql -->
	<select id="query" parameterType="cn.cttic.sysframe.frame.domain.SmOperateLogExample"
		resultMap="ResultMapWithBLOBs">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from SM_OPERATE_LOG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
</mapper>