<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cttic.sysframe.frame.dao.SmTimerEngineConfigMapper">
	<resultMap id="BaseResultMap"
		type="cn.cttic.sysframe.frame.domain.SmTimerEngineConfig">
		<result column="TASK_ID" property="taskId" jdbcType="DECIMAL" />
		<result column="SYSTEM_ID" property="systemId" jdbcType="VARCHAR" />
		<result column="INSTANCE_ID" property="instanceId" jdbcType="DECIMAL" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		TASK_ID, SYSTEM_ID, INSTANCE_ID, REMARK
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="cn.cttic.sysframe.frame.domain.SmTimerEngineConfigExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from SM_TIMER_ENGINE_CONFIG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<delete id="deleteByExample"
		parameterType="cn.cttic.sysframe.frame.domain.SmTimerEngineConfigExample">
		delete from SM_TIMER_ENGINE_CONFIG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.cttic.sysframe.frame.domain.SmTimerEngineConfig">
		insert into SM_TIMER_ENGINE_CONFIG (TASK_ID, SYSTEM_ID, INSTANCE_ID,
		REMARK)
		values (#{taskId,jdbcType=DECIMAL}, #{systemId,jdbcType=VARCHAR},
		#{instanceId,jdbcType=DECIMAL},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.cttic.sysframe.frame.domain.SmTimerEngineConfig">
		insert into SM_TIMER_ENGINE_CONFIG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskId != null">
				TASK_ID,
			</if>
			<if test="systemId != null">
				SYSTEM_ID,
			</if>
			<if test="instanceId != null">
				INSTANCE_ID,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskId != null">
				#{taskId,jdbcType=DECIMAL},
			</if>
			<if test="systemId != null">
				#{systemId,jdbcType=VARCHAR},
			</if>
			<if test="instanceId != null">
				#{instanceId,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="cn.cttic.sysframe.frame.domain.SmTimerEngineConfigExample"
		resultType="java.lang.Integer">
		select count(*) from SM_TIMER_ENGINE_CONFIG
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update SM_TIMER_ENGINE_CONFIG
		<set>
			<if test="record.taskId != null">
				TASK_ID = #{record.taskId,jdbcType=DECIMAL},
			</if>
			<if test="record.systemId != null">
				SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
			</if>
			<if test="record.instanceId != null">
				INSTANCE_ID = #{record.instanceId,jdbcType=DECIMAL},
			</if>
			<if test="record.remark != null">
				REMARK = #{record.remark,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update SM_TIMER_ENGINE_CONFIG
		set TASK_ID = #{record.taskId,jdbcType=DECIMAL},
		SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
		INSTANCE_ID = #{record.instanceId,jdbcType=DECIMAL},
		REMARK = #{record.remark,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>